body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
}

#globekit-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#globekit-canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
